<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./navbar-styles.css">
    <link rel="stylesheet" href="../../additional css/roundbutton-styles.css"> -->
</head>
<body>
  <nav>
    <div class="navbar">
        <div class="navleft">
          <button class='roundbtn' onclick="navmenutoggle()"><img src="../../svg/hamburger.svg" alt="menu"></button>
          <img width="40px" height="40px" src="../../images/keep.png" alt="keeplogo"/>
          <h2 style="color:#5f6368;opacity:1;font-weight:400">Keep</h2>
        </div>
        <div class="navcentre">
          <button class="searchiconbtn" onclick="focussearchInputbox()"><img src="../../svg/searchicon.svg" alt="find"></button> 
          <input class='search-input' onchange="searchfunc(this)" onkeyup="searchfunc(this)" type="search" placeholder="Search" value="">
        </div>
        <div class="navright">
          <button class='roundbtn' onclick="reloadpage()"><img src="../../svg/refreshicon.svg" alt="refresh"></button>
            <button class='roundbtn'><img src="../../svg/settings.svg" alt="settings"></button>
        </div>
    </div>
    </nav>
    <aside>
      <div id="navmenu" class="nav">
          <div class="icon">
            <ul>
              <li><a class="notes" id="0" href="../../pages/noteshomepage/noteshomepage.html"><img src="../../svg/notesicon.svg" alt="notes"></a></li>
              <li><a class="editlabels" id="1" href="../../pages/Editlabelspage/editlabelspage.html"><img src="../../svg/editlabels.svg" alt="notes"></a></li>
              <li><a class="archives" id="2" href="../../pages/archivespage/archivespage.html"><img src="../../svg/archives.svg" alt="notes"></a></li>
              <li><a class="trash" id="3" href="../../pages/trashpage/trashpage.html"><img src="../../svg/trash.svg" alt="notes"></a></li>
            </ul>
          </div>
          <div class="text">
            <ul style="list-style-type: none;">
              <li><a class="tnotes" id="4"  href="../../pages/noteshomepage/noteshomepage.html">Notes</a></li>
              <li><a class="teditlabels" id="5" href="../../pages/Editlabelspage/editlabelspage.html" >Edit Lables</a></li>
              <li><a class="tarchives" id="6" href="../../pages/archivespage/archivespage.html" >Archive</a></li>
              <li><a class="ttrash" id="7" href="../../pages/trashpage/trashpage.html" >Trash</a></li>
            </ul>
          </div>
        </div>
    </aside>
    <script src="./navbar-script.js"></script>
</body>
</html>